<li class="dropdown-header">Core Platform</li>
<li><a href="#customers"><i class="fa fa-home pull-left"></i> <span>Customers</span></a></li>
<li><a href="#products"><i class="fa fa-barcode pull-left"></i> <span>Products</span></a></li>
<li><a href="#providers"><i class="fa fa-users pull-left"></i> <span>Providers</span></a></li>
<li><a href="#work_orders"><i class="fa fa-truck pull-left"></i> <span>Work Orders</span></a></li>

<li role="separator" class="divider"></li>
<li class="dropdown-header">Delivery Management</li>
<li><a href="#markets"><i class="fa fa-map-marker pull-left"></i> <span>Markets</span></a></li>=
<li><a href="#routes"><i class="fa fa-road pull-left"></i> <span>Routes</span></a></li>
