<% if user_signed_in? %>
    <ul class="<%= menu_class ? menu_class : '' rescue nil %>">
      <li><a href="#dashboard"><i class="fa fa-dashboard"></i> Dashboard</a></li>
      <% if render_map %>
          <li><a href="#map"><i class="fa fa-location-arrow"></i> Live Map</a></li>
      <% end rescue nil %>

      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"><i class="fa fa-bars"></i> Menu <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <%= render partial: "application/menus/#{menu_partial.to_s}" rescue nil %>
        </ul>
      </li>
    </ul>
<% end %>
