<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
  <meta name="msapplication-config" content="none" />
  <title><%= Settings.app.name %></title>
</head>
<body>
<div class="container">
  <div flash-messages></div>
  <%= yield %>
</div>
<%= yield :scripts %>
</body>
</html>
